/* App.css */

.App {
  background-color: #f8f9fa; /* Light background color for the whole page */
}

.App-header {
  background-color: #343a40; /* Dark background for the header */
  color: #ffffff;
}

.logo-img {
  max-width: 150px;
}

.btn-primary-enhanced {
  transition: all 0.3s ease;
}

.btn-primary-enhanced:hover {
  background-color: #004085; /* Darker shade for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.btn-primary-enhanced:active {
  transform: scale(0.95); /* Slightly shrink the button on click */
}

.hero {
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.carousel-item img {
  height: 400px; /* Adjust height of carousel images */
  object-fit: cover;
}

#about {
  background-color: #ffffff; /* White background for the About Us section */
  padding: 50px 0; /* Padding to create space */
  border-top: 2px solid #343a40; /* Add a top border for separation */
}

#contact {
  background-color: #f8f9fa; /* Light background color for the Contact Us section */
  padding: 50px 0; /* Padding to create space */
}

section {
  margin-bottom: 50px; /* Margin to space out sections */
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav.mx-auto {
  display: flex;
  justify-content: center;
}

.navbar-custom .nav-item.sign-up {
  margin-left: auto;
}
